// app/assets/stylesheets/customer.scss
.card {
  box-shadow: 0 2px 3px rgba(10,10,10,0.1), 0 0 0 1px rgba(10,10,10,0.1);
  border-radius: 6px;
}
.card-content {
  padding: 1.5rem;
}
.media {
  display: flex;
  align-items: flex-start;
}
.media-left {
  margin-right: 1rem;
}
.title.is-4 {
  margin-bottom: 0.5rem;
}
.subtitle.is-6 {
  color: #888;
}
.button {
  margin-right: 0.5rem;
}
